/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

div {
  border: 1px solid #000;
  /* height: 50px; */
}

div.header {
  height: 8dvh;
}
div.container {
  height: 100dvh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 10fr;
  gap: 5px;
}
div.container div.search {
  grid-column: 1 / span 2;
}
div.footer {
  height: 15dvh;
}